@charset "UTF-8";
* {
  font-style: normal;
  font-weight: normal;
  font-family: Menlo;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background: #161b22;
  padding: 0 40px;
}

#main {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1200px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1em;
  flex-wrap: wrap;
  align-content: center;
}

center {
  min-width: 250px;
}

/*----------------------- Preloader -----------------------*/
body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #161b22;
  /* background: #fff; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  backdrop-filter: blur(5px);
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
}

